body {
  margin: 0;
  padding: 0;
  background-image:url("https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-section {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.label {
  font-weight: bold;
}

input {
  padding: 12px;
  font-size: 18px;
  width: 100%;
  border: 1px solid #0c0c0c;
  border-radius: 8px;
  outline: none;
  background-color: rgb(255, 255, 255);
  margin-left: 30px;
}

input:focus {
  border-color: #349938;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #349938;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 370px;
  margin-top: 3px;
}

button:hover {
  background-color: #45a049;
}

.loading {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}


.weather-info {
  margin-top: 20px;
  position: relative;
  margin-left: 40px;
}


.input-container {
  position: relative;
}

.clear-input {
  position: absolute;
  margin-left: 850px; 
  top: 50%;
font-size: 21px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.clear-input:hover {
  color: rgb(14, 13, 13); 
}
