/* WeatherDisplay.css */

.weather-container {
  max-width: 500px; /* Reduced container width */
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* Reduced container height */
}

.weather-container.loaded {
  opacity: 1;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 10px 20px; /* Increased padding for better interactivity */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: end;  
  transition: background-color 0.3s ease; /* Smooth transition for better interactivity */

  /* Hover effect */
  &:hover {
    background-color: #0056b3;
  }
}

/* Center the submit button on the next line */
.submit {
  display: block;
  margin: auto;
}

.loading {
  font-style: italic;
  color: #888;
}

.weather-info {
  margin-top: 20px;
}

.weather-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333; /* Set the color for the heading */
}

.weather-info p {
  margin: 5px 0;
  color: #555; /* Set the color for the paragraph text */
}

.weather-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
